---
layout: base.njk
---

<ul>
{% for video in videos %}
<li id="{{ video.id }}">{{ video.title }}</li>
{% endfor %}
</ul>

<script>
    const videos = {{ videos | dump | safe }};
    console.log(videos);
</script>